In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('processed_01.csv')
df1.head()

,row,type_INFO,type_WARN,comp_FSname,comp_PacketResponder,comp_DataXceiver,comp_FSDataset,comp_DataBlockScanner,comp_DataNode,comp_DataTransfer,comp_BlockReceiver,comp_PendingMonitor,minutes
0,1,1,0,0,0,1,0,0,0,0,0,0,1235
1,2,1,0,1,0,0,0,0,0,0,0,0,1235
2,3,1,0,0,0,1,0,0,0,0,0,0,1235
3,4,1,0,0,0,1,0,0,0,0,0,0,1235
4,5,1,0,0,1,0,0,0,0,0,0,0,1235

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   row                    int64
 1   type_INFO              int64
 2   type_WARN              int64
 3   comp_FSname            int64
 4   comp_PacketResponder   int64
 5   comp_DataXceiver       int64
 6   comp_FSDataset         int64
 7   comp_DataBlockScanner  int64
 8   comp_DataNode          int64
 9   comp_DataTransfer      int64
 10  comp_BlockReceiver     int64
 11  comp_PendingMonitor    int64
 12  minutes                int64
dtypes: int64(13)
memory usage: 1.1 GB

In [4]:
df2 = pd.read_csv('templates.csv')
df2.head()

   row template
0    1       E1
1    2      E16
2    3       E1
3    4       E1
4    5       E7

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   row       int64
 1   template  object
dtypes: int64(1), object(1)
memory usage: 170.5+ MB

In [6]:
y = pd.get_dummies(df2['template'], prefix='template')
y.head()

,template_E1,template_E10,template_E11,template_E12,template_E13,template_E14,template_E15,template_E16,template_E17,template_E18,...,template_E41,template_E42,template_E43,template_E44,template_E5,template_E6,template_E7,template_E8,template_E9,template_Other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
(sum(y['template_E1']), sum(y['template_E2']))

(1723232, 1615327)

In [10]:
df2['T1'] = y['template_E1']
df2['T2'] = y['template_E2']
df2['T3'] = y['template_E3']
df2['T4'] = y['template_E4']
df2['T5'] = y['template_E5']
df2['T6'] = y['template_E6']
df2['T7'] = y['template_E7']
df2['T8'] = y['template_E8']
df2['T9'] = y['template_E9']
df2['T10'] = y['template_E10']
df2['T11'] = y['template_E11']
df2['T12'] = y['template_E12']
df2['T13'] = y['template_E13']
df2['T14'] = y['template_E14']
df2['T15'] = y['template_E15']
df2['T16'] = y['template_E16']
df2['T17'] = y['template_E17']
df2['T18'] = y['template_E18']
df2['T19'] = y['template_E19']
df2['T20'] = y['template_E20']
df2['T21'] = y['template_E21']
df2['T22'] = y['template_E22']
df2['T23'] = y['template_E23']
df2['T24'] = y['template_E24']
df2['T25'] = y['template_E25']
df2['T26'] = y['template_E26']
df2['T27'] = y['template_E27']
df2['T28'] = y['template_E28']
df2['T29'] = y['template_E29']
df2['T30'] = y['template_E30']
df2['T31'] = y['template_E31']
df2['T32'] = y['template_E32']
df2['T33'] = y['template_E33']
df2['T34'] = y['template_E34']
df2['T35'] = y['template_E35']
df2['T36'] = y['template_E36']
df2['T37'] = y['template_E37']
df2['T38'] = y['template_E38']
df2['T39'] = y['template_E39']
df2['T40'] = y['template_E40']
df2['T41'] = y['template_E41']
df2['T42'] = y['template_E42']
df2['T43'] = y['template_E43']
df2['T44'] = y['template_E44']
df2['T0'] = y['template_Other']

df2.drop('template', axis = 1, inplace = True)
df2.head()

,row,T1,T2,T3,T4,T5,T6,T7,T8,T9,...,T36,T37,T38,T39,T40,T41,T42,T43,T44,T0
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
(sum(df2['T1']), sum(df2['T2']))

(1723232, 1615327)

In [12]:
df1['row'].min(), df1['row'].max()

(1, 11175629)

In [13]:
df2['row'].min(), df2['row'].max()

(1, 11175629)

In [14]:
df_combined = pd.merge(df1, df2, how='inner', on='row', left_index=True)
df_combined.head()

,row,type_INFO,type_WARN,comp_FSname,comp_PacketResponder,comp_DataXceiver,comp_FSDataset,comp_DataBlockScanner,comp_DataNode,comp_DataTransfer,...,T36,T37,T38,T39,T40,T41,T42,T43,T44,T0
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11175629 entries, 0 to 11175628
Data columns (total 58 columns):
 #   Column                 Dtype
---  ------                 -----
 0   row                    int64
 1   type_INFO              int64
 2   type_WARN              int64
 3   comp_FSname            int64
 4   comp_PacketResponder   int64
 5   comp_DataXceiver       int64
 6   comp_FSDataset         int64
 7   comp_DataBlockScanner  int64
 8   comp_DataNode          int64
 9   comp_DataTransfer      int64
 10  comp_BlockReceiver     int64
 11  comp_PendingMonitor    int64
 12  minutes                int64
 13  T1                     uint8
 14  T2                     uint8
 15  T3                     uint8
 16  T4                     uint8
 17  T5                     uint8
 18  T6                     uint8
 19  T7                     uint8
 20  T8                     uint8
 21  T9                     uint8
 22  T10                    uint8
 23  T11                    uint8
 24  T12                    uint8
 25  T13                    uint8
 26  T14                    uint8
 27  T15                    uint8
 28  T16                    uint8
 29  T17                    uint8
 30  T18                    uint8
 31  T19                    uint8
 32  T20                    uint8
 33  T21                    uint8
 34  T22                    uint8
 35  T23                    uint8
 36  T24                    uint8
 37  T25                    uint8
 38  T26                    uint8
 39  T27                    uint8
 40  T28                    uint8
 41  T29                    uint8
 42  T30                    uint8
 43  T31                    uint8
 44  T32                    uint8
 45  T33                    uint8
 46  T34                    uint8
 47  T35                    uint8
 48  T36                    uint8
 49  T37                    uint8
 50  T38                    uint8
 51  T39                    uint8
 52  T40                    uint8
 53  T41                    uint8
 54  T42                    uint8
 55  T43                    uint8
 56  T44                    uint8
 57  T0                     uint8
dtypes: int64(13), uint8(45)
memory usage: 1.6 GB

In [16]:
df_combined.to_csv('merge.csv', index=False, header=True)